<div class="container-fluid">
    <h1 class="mb-3 mb-md-5">Редактирование категории доходов</h1>

    <div class="col-12 col-lg-4 mb-2">
        <form>
            <div class="input-group">
                <label for="edit-title" class="visually-hidden">Название категории</label>
                <input type="text" class="form-control rounded" id="edit-title">
                <div class="invalid-feedback">Заполните название категории</div>
            </div>
            <div class="d-grid gap-2 d-sm-flex pt-4">
                <button class="btn btn-success" id="update" type="button">Сохранить</button>
                <button class="btn btn-danger" id="cancel" type="button">Отмена</button>
            </div>
        </form>
    </div>
</div>