<div class="min-vh-100 d-flex justify-content-center align-items-center">
    <div class="container px-3">
        <div class="form-sign-up w-100 mx-auto">
            <form>
                <div class="d-flex justify-content-center align-items-center mb-4 mb-md-5">
                    <a href="javascript:void(0);" class="navbar-brand">
                        <img src="/images/Logo.png" alt="Logo">
                    </a>
                </div>
                <h1 class="mb-4 text-center">Создайте аккаунт</h1>
                <div id="common-error" class="invalid-feedback text-center mb-3">Не удалось зарегистрировать
                    пользователя. Обратитесь в поддержку.
                </div>
                <div class="col-12 mb-2">
                    <div class="input-group">
                    <span class="input-group-text">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#6C757D"
                         class="bi bi-person" viewBox="0 0 16 16">
  <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
</svg>
                </span>
                        <label for="name" class="visually-hidden">Имя</label>
                        <input type="text" class="form-control" id="name" placeholder="Имя">
                        <div class="invalid-feedback">Заполните имя</div>
                    </div>
                </div>
                <div class="col-12 mb-2">
                    <div class="input-group">
                    <span class="input-group-text">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#6C757D"
                         class="bi bi-person" viewBox="0 0 16 16">
  <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z"/>
</svg>
                </span>
                        <label for="last-name" class="visually-hidden">Фамилия</label>
                        <input type="text" class="form-control" id="last-name" placeholder="Фамилия">
                        <div class="invalid-feedback">Заполните фамилию</div>
                    </div>
                </div>
                <div class="col-12 mb-2">
                    <div class="input-group">
                    <span class="input-group-text">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="#6C757D"
                         class="bi bi-envelope-open" viewBox="0 0 16 16">
  <path d="M8.47 1.318a1 1 0 0 0-.94 0l-6 3.2A1 1 0 0 0 1 5.4v.817l5.75 3.45L8 8.917l1.25.75L15 6.217V5.4a1 1 0 0 0-.53-.882zM15 7.383l-4.778 2.867L15 13.117zm-.035 6.88L8 10.082l-6.965 4.18A1 1 0 0 0 2 15h12a1 1 0 0 0 .965-.738ZM1 13.116l4.778-2.867L1 7.383v5.734ZM7.059.435a2 2 0 0 1 1.882 0l6 3.2A2 2 0 0 1 16 5.4V14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5.4a2 2 0 0 1 1.059-1.765z"></path>
                    </svg>
                </span>
                        <label for="email" class="visually-hidden">Электронная почта</label>
                        <input type="email" class="form-control" id="email" placeholder="Электронная почта">
                        <div class="invalid-feedback">Введите корректный E-mail</div>
                    </div>
                </div>
                <div class="col-12 mb-2">
                    <div class="input-group">
                    <span class="input-group-text">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="#6C757D"
                         class="bi bi-lock" viewBox="0 0 16 16">
  <path fill-rule="evenodd"
        d="M8 0a4 4 0 0 1 4 4v2.05a2.5 2.5 0 0 1 2 2.45v5a2.5 2.5 0 0 1-2.5 2.5h-7A2.5 2.5 0 0 1 2 13.5v-5a2.5 2.5 0 0 1 2-2.45V4a4 4 0 0 1 4-4M4.5 7A1.5 1.5 0 0 0 3 8.5v5A1.5 1.5 0 0 0 4.5 15h7a1.5 1.5 0 0 0 1.5-1.5v-5A1.5 1.5 0 0 0 11.5 7zM8 1a3 3 0 0 0-3 3v2h6V4a3 3 0 0 0-3-3"/>
</svg>
                   </span>
                        <label for="password" class="visually-hidden">Пароль</label>
                        <input type="password" class="form-control" id="password" placeholder="Пароль">
                        <span class="input-group-text">
                        <svg id="togglePassword" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                             fill="currentColor" class="bi bi-eye-slash" viewBox="0 0 16 16">
                            <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z"/>
                            <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z"/>
                            <path d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12-.708.708z"/>
                        </svg>
                        </span>
                        <div class="invalid-feedback">Заполните пароль</div>
                    </div>
                </div>
                <div class="col-12 mb-4">
                    <div class="input-group">
                    <span class="input-group-text">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="#6C757D"
                         class="bi bi-lock" viewBox="0 0 16 16">
  <path fill-rule="evenodd"
        d="M8 0a4 4 0 0 1 4 4v2.05a2.5 2.5 0 0 1 2 2.45v5a2.5 2.5 0 0 1-2.5 2.5h-7A2.5 2.5 0 0 1 2 13.5v-5a2.5 2.5 0 0 1 2-2.45V4a4 4 0 0 1 4-4M4.5 7A1.5 1.5 0 0 0 3 8.5v5A1.5 1.5 0 0 0 4.5 15h7a1.5 1.5 0 0 0 1.5-1.5v-5A1.5 1.5 0 0 0 11.5 7zM8 1a3 3 0 0 0-3 3v2h6V4a3 3 0 0 0-3-3"/>
</svg>
                   </span>
                        <label for="password-repeat" class="visually-hidden">Подтверждение пароля</label>
                        <input type="password" class="form-control" id="password-repeat"
                               placeholder="Подтверждение пароля">
                        <span class="input-group-text">
                        <svg id="toggleRepeatPassword" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                             fill="currentColor" class="bi bi-eye-slash" viewBox="0 0 16 16">
                            <path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z"/>
                            <path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z"/>
                            <path d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12-.708.708z"/>
                        </svg>
                        </span>
                        <div class="invalid-feedback">Пароль и повторение пароля должны совпадать</div>
                    </div>
                </div>
                <button type="button" class="btn btn-primary w-100 mb-2" id="submit">Войти</button>
                <p class="fs-12 text-center">
                    Уже есть аккаунт? <a href="/login">Войдите в систему</a>
                </p>
            </form>
        </div>
    </div>
</div>