<div class="container">
    <h1 class="mb-3 mb-md-5">Создание категории расходов</h1>

    <div class="col-12 col-lg-4 mb-2">
        <div class="input-group">
            <label for="create-expenses" class="visually-hidden">Название категории</label>
            <input type="text" class="form-control rounded" placeholder="Название..." id="create-expenses">
            <div class="invalid-feedback">Заполните название категории</div>
        </div>
        <div class="d-grid gap-2 d-sm-flex pt-4">
            <button class="btn btn-success" id="create">Создать</button>
            <button class="btn btn-danger" id="cancel">Отмена</button>
        </div>
    </div>
</div>